<% include partials/header %>

<div class = "container">
    <header class = "jumbotron">
        <div class = "container">
            <h1>Welcome to NBA Fans</h1>
            <p>Real time fans interaction from all over the world</p>
            <p>
                <a class = "btn btn-primary " href = "/search/new"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>  Search</a>
            </p>
        </div>
    </header>
    
    <!--<div class = "row">-->
    <!--    <div class = "col-lg-12" id = "nbatitle">-->
    <!--        <h2><center>Matches</center></h2>-->
    <!--    </div>-->
    <!--</div>-->
    
    <div class = "row vertical-align" sytle = " display: flex; flex-wrap: wrap; ">
        <!--past grid-->
        <div class = "col-md-4 col-xs-12 ">
            <!--<div class = "thumbnail">-->
            <!--    <img src="http://i.imgur.com/qK42fUu.jpg">-->
            <!--</div>-->
        <h2><center>Previous</center></h2>
        <% past.forEach(function(event){ %>
                <div class = "row vertical-align">
                    <div class = "col-xs-4">
                        <div class = "thumbnail">
                            <img src ="<%=event.img1%>">   
                            <h5><center><%= event.name1 %></center></h5>
                        </div>
                    </div>
                    <div class = "col-xs-4">
                        <div class = "thumbnail ">
                            <h5><center><%= event.score1%>  -  <%= event.score2%> </center></h5>
                        </div>
                    </div>
                    <div class = "col-xs-4">
                        <div class = "thumbnail">
                            <img src ="<%=event.img2%>">
                            <h5><center><%= event.name2 %></center></h5> 
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        
        
        <!--cur grid-->
        <div class = "col-md-4 col-xs-12 mycol">
            <!--<div class = "thumbnail">-->
            <!--    <img src="http://i.imgur.com/qK42fUu.jpg">-->
            <!--</div>-->
        <h2><center>Ongoing</center></h2>
        <% cur.forEach(function(event){ %>
            <a href = "/past">
                <div class = "row vertical-align">
                    <div class = "col-xs-4">
                        <div class = "thumbnail">
                            <img src ="<%=event.img1%>">   
                            <h5><center><%= event.name1 %></center></h5>
                        </div>
                    </div>
                    <div class = "col-xs-4">
                        <div class = "thumbnail ">
                            <h5><center><%= event.score1%>  -  <%= event.score2%> </center></h5>
                        </div>
                    </div>
                    <div class = "col-xs-4">
                        <div class = "thumbnail">
                            <img src ="<%=event.img2%>">
                            <h5><center><%= event.name2 %></center></h5>
                        </div>
                    </div>
                </div>
            </a>
            <% }) %>
        </div>
        
        
        <!--future grid-->
        <div class = "col-md-4 col-xs-12 ">
            <!--<div class = "thumbnail">-->
            <!--    <img src="http://i.imgur.com/qK42fUu.jpg">-->
            <!--</div>-->
        <h2><center>Future</center></h2>
        <% future.forEach(function(event){ %>
                <div class = "row vertical-align">
                    <div class = "col-xs-4">
                        <div class = "thumbnail">
                            <img src ="<%=event.img1%>">   
                            <h5><center><%= event.name1 %></center></h5>
                        </div>
                    </div>
                    <div class = "col-xs-4">
                        <div class = "thumbnail ">
                            <!--<h5><center><%= event.score1%>  -  <%= event.score2%> </center></h5>-->
                        </div>
                    </div>
                    <div class = "col-xs-4">
                        <div class = "thumbnail">
                            <img src ="<%=event.img2%>">
                            <h5><center><%= event.name2 %></center></h5>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    
<% include partials/footer %>
</div>
