<% include partials/header %>
<div class = "container">
    <header class = "jumbotron">
        <div class = "container">
            <h1>Welcome to NBA Fans</h1>
            <p>Real time fans interaction from all over the world</p>
            <p>
                <a class = "btn btn-primary " href = "/search/new">Search</a>
            </p>
        </div>
    </header>
    
    <div class = "row">
        <div class = "col-lg-12">
            <h4>Matches</h4>
        </div>
    </div>
    
    <div class = "row">
        <% past.forEach(function(event){ %>
            <div class = "col-md-2 col-sm-6">
                <div class = "thumbnail">
                    <img src ="<%=event.img1%>">   <%= event.name1 %>  <%= event.score1%>       -       <%= event.score2%>    <%= event.name2 %>    <img src ="<%=event.img2%>">
                </div>
            </div>
        <% }); %>
    </div>
    
    <%= cur %>
    
    <%= future %>
<% include partials/footer %>
</div>
